<div class="post-admin">
  Admin Tools:

  <!-- <div class="button"><button {{action "updatePost" post }}>Update</button></div>
  <br> -->
  <div class="button">{{#link-to 'update-post' post}}Update Post{{/link-to}}</div>
  <br>
  <div class="button"><button {{action 'delete' post}}>Delete</button></div>

</div>
